* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header {
	font-size: 40px;
	text-align: center;
	background-color: #6b5b95;
	color: white;
	text-transform:uppercase ;
}
.text_content{
	border: 5px solid green;
}
.sub
{
	font-size: 25px;
	text-align: center;
}
.choose{
	background-color:whitesmoke;
	
}
.choose li a
{
	text-decoration: none;
}
#array {
	background-color: white;
	height: 413px;
	width: 598px;
	margin: auto;
	position: absolute;
	margin-top: 74px;
	margin: 50px auto;
	left: 120px;
	bottom: 5px;
}

.block {
	width: 28px;
	background-color: #6b5b95;
	position: absolute;
	bottom: 0px;
	transition: 0.2s all ease;
}

.block_id {
	position: absolute;
	color: black;
	margin-top: -20px;
	width: 100%;
	text-align: center;
}
#code2{
	transform: translate(0.2s);
}
#btn{
	display: inline;
	border-radius: 10px;
	border: none;
	background-color: deepskyblue;
	color:white;
	font-size: large;
	padding: 10px;
	margin-top:20px;
	margin-left: 22px;
}
.element{
	margin: 21px 109px;
}
#addtoarr{
	margin: 27px 311px;
}
#add{
	margin: 0 10px;
}
.flow{
	padding: 35px;
	font-size: 20px;
	line-height: 1.2;
}
.text_content{
	position: absolute;
	right: 10px;
	width: 309px;
	height: 469px;
}

.slide{
	display: inline-block;
}
